/* Projectfork Layout CSS */

/* Basic HTML */
#projectfork ul li
{
    list-style: none;
}

/* Recent Activity Module (Activity Stream) */
#projectfork .activity-list .list-type,
#projectfork .activity-list .list-action,
#projectfork .activity-list .list-owner,
#projectfork .activity-list .list-time{
	width: 15%;
}

/* Current Projects Module */
#projectfork .project-list .list-milestones,
#projectfork .project-list .list-tasks{
	width: 5%;
}

/* Calendar Module */
#projectfork .calendar-weekday,
#projectfork .calendar-weekend{
	width: 14.3%;
	padding: 5px;
}
#projectfork .calendar-day{
	height: 80px;
}
#projectfork .calendar-item{
	white-space: nowrap;
	font-size: 10px;
	letter-spacing: -0.02em;
	max-width: 100px;
	overflow: hidden;
}

/* Table layout */
#projectfork td.list-ordering input
{
    text-align: center;
    width: 20px;
    margin-right: 5px;
}

/* Project Grid Well */
.well-projects{
	padding: 5px;
}