/* Projectfork Theme CSS */

/* Due Date Module */
#projectfork .overdue {
	color: red;
}

/* Calendar Module */
#projectfork .today{
	background: #FFFFCC;
}
#projectfork .calendar-weekend{
	background: #EEE;
}

/* General Classes */
.small{
	font-size: 12px;
}

/* Bootstrap Classes */
#projectfork .page-header{
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Milestone Progress */
.progress.progress-milestone{
	margin-bottom: 0;
}

/* Completed Task */
.task-complete{
	opacity:0.4;filter:alpha(opacity=40);
}