#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

# Win transifex client
tx.exe

#############
## Uncomplete translations
#############
ru-RU/
pt-PT/
fa-IR/
sk-SK/
cs-CZ/
zh-TW/
fi-FI/
jp-JP/
uk-UA/
