<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="general" label="COM_PFPROJECTS_CONFIG_GENERAL_LABEL" description="COM_PFPROJECTS_CONFIG_GENERAL_DESC">
        <field name="create_group" class="btn-group" type="radio" default="0" label="COM_PFPROJECTS_CONFIG_CREATE_GROUP_LABEL" description="COM_PFPROJECTS_CONFIG_CREATE_GROUP_DESC">
		    <option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
        <field name="group_location" type="usergroup" label="COM_PFPROJECTS_CONFIG_GROUP_LOCATION_LABEL" description="COM_PFPROJECTS_CONFIG_GROUP_LOCATION_DESC"/>
        <field name="project_color" type="color"
			default="#ffffff"
			description="COM_PFPROJECTS_CONFIG_PROJECT_COLOR_DESC"
			label="COM_PFPROJECTS_CONFIG_PROJECT_COLOR_LABEL"
		/>
    </fieldset>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
		<field name="rules" type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox" validate="rules" filter="rules"
			component="com_pfprojects" section="component"
        />
	</fieldset>
</config>