/* Projectfork Layout CSS */

/* Recent Activity Module (Activity Stream) */
.activity-list .list-type,
.activity-list .list-action,
.activity-list .list-owner,
.activity-list .list-time{
	width: 15%;
}

/* Current Projects Module */
.project-list .list-milestones,
.project-list .list-tasks{
	width: 5%;
}

/* Calendar Module */
.calendar-weekday,
.calendar-weekend{
	width: 14.3%;
	padding: 5px;
}
.calendar-day{
	height: 80px;
}
.calendar-item{
	white-space: nowrap;
	font-size: 10px;
	letter-spacing: -0.02em;
	max-width: 100px;
	overflow: hidden;
}