/* Projectfork Layout CSS */

/* Basic HTML */
.hr-condensed{
	margin: 5px 0;
}
#projectfork ul li
{
    list-style: none;
}

#projectfork .inline-block{
	display: inline-block;
}

/* Recent Activity Module (Activity Stream) */
#projectfork .activity-list .list-type,
#projectfork .activity-list .list-action,
#projectfork .activity-list .list-owner,
#projectfork .activity-list .list-time{
	width: 15%;
}

/* Current Projects Module */
#projectfork .project-list .list-milestones,
#projectfork .project-list .list-tasks{
	width: 5%;
}

/* Calendar Module */
#projectfork .calendar-weekday,
#projectfork .calendar-weekend{
	width: 14.3%;
	padding: 5px;
}
#projectfork .calendar-day{
	height: 80px;
}
#projectfork .calendar-item{
	white-space: nowrap;
	font-size: 10px;
	letter-spacing: -0.02em;
	max-width: 100px;
	overflow: hidden;
}

/* Table layout */
#projectfork td.list-ordering input
{
    text-align: center;
    width: 20px;
    margin-right: 5px;
}

/* Project Grid Well */
.well-projects{
	padding: 5px;
}

/* Milestones */
.milestone-edit{
	margin-left: 4px;
	margin-top: -2px;
}
.milestone-edit .dropdown-menu{
	right:0;left:auto;
}

/* Tasks */
.icon-move:hover{
	cursor:hand;
	cursor:grab;
	cursor:-moz-grab;
	cursor:-webkit-grab;
}

/* Thumbnails Wrapping in Fluid Rows */
.view-users .row-fluid .thumbnails,
.view-projects .row-fluid .thumbnails{
	margin-left: -20px;
}
.row-fluid .thumbnails > li[class*="span"]:first-child,
.row-fluid .thumbnails > li[class*="span"]{
	margin-left: 20px;
}

/* Dashboard */
.view-dashboard .moduletable{
	margin-bottom: 10px;
}

/* Users */
.thumbnail.pull-left{
	margin: 0 10px 10px 0;
}
.thumbnail.pull-right{
	margin: 0 0 10px 10px;
}

/* Timesheet */
.thumbnail-timesheet{
	height: 90px;
}