/* Load Bootstrap CSS via import so we don't modify it and it will show in text editors */
@import url("bootstrap.min.css"); /* Main Bootstrap CSS */
@import url("bootstrap-responsive.min.css"); /* Responsive Bootstrap CSS, last so it can override others */
@import url("theme.css"); /* Custom theme */